einops
tqdm
torchcodec
transformers
sounddevice
safetensors
numpy
py3langid
pysbd
onnxruntime
soundfile

# en
nltk
future
inflect
wordsegment

# zh
cn2an
pypinyin
jieba

# ja
pyopenjtalk-plus